.main{
    width: 100%;
    padding: 3rem 0;
}
.register-main{
   margin: 90px 0;
}

.wrapper{
    align-self: center;
    height: 20rem;
    padding: 10px ;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.ctn{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
}
.login-ctn{
    height: 220%;
}
.ctn img{
    width: 100%;
    height: 100%;
    
}
.login-ctn h2{
    text-align: center;
    color: orangered;
}
.login-ctn input{
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.login-btnn{
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 13px 0;
    font-size: 18px;
    cursor: pointer;
}
.btnn{
    background-color: orangered;
    color: white;
}
.link{
    margin-top: 10px;
}
p span{
    font-weight: 700;
}
p{
    margin-top: 15px ;
    margin-bottom:10px ;
}
.btn-register{
    font-size: 17px;
    width: 100%;
    display: block;
    margin-top: 10px;
    
    padding: 11px 32px;
}
.to-login{
    padding-bottom: 20px;
}
.ctn span{
    margin: 10px;
    cursor: pointer;
}
